/* COMMON */
:root {
    --font-color: #7D7F84;
    --main-page-color: #141922;
    --footer-color: #282828;
    --plus-button: #A3A3A3;
    --main-header: #080B12;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

main {
    height: calc(100vh - 80px);
    overflow-y: clip;
}

footer {
    height: 80px;
    background-color: var(--footer-color);
    position: relative;
}

a {
    text-decoration: none;
    color: white;
}

.debug #app-main>#main-container {
    background-color: var(--main-page-color);
    height: 100%;
    position: relative;
}

#main-container>.navigation {
    background-color: #000000;
    width: 240px;
    height: 100%;
}

/* UTILITY */
#main-container::after {
    content: "";
    display: table;
    clear: both;
}

#main-container>.navigation {
    float: left;
}

#main-container>.albums-page {
    float: left;
}

#albums-top-btn {
    background-color: var(--main-header);
    height: 65px;
}

/* MAIN */
#albums-top-btn>.call-to-action {
    padding: 12px;
    border: 1px solid white;
    width: 160px;
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    border-radius: 50px;
    font-size: 13px;
    text-align: center;
}

.albums-page {
    width: calc(100% - 240px);
}

.main-nav {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 1.5rem;
}

.main-nav a {
    color: var(--font-color);
}

.main-nav a:hover {
    color: white;
}

.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected {
    background-color: rgb(2, 224, 2);
    width: 30px;
    height: 2px;
}

/* NAVIGATION */
.logo img {
    width: 140px;
    height: auto;
    padding: 20px;
    margin-left: 12px;
}

.menu {
    padding: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.menu>.active {
    display: flex;
    justify-content: flex-start;
}

.menu>a {
    display: block;
    padding: 5px;
    font-size: 20px;
    color: var(--font-color);
}

.menu>a:hover {
    color: white;
}

.playlist {
    padding: 34px;
    margin-top: -39px;
    font-size: 15px;
    line-height: 35px;
    display: flex;
    flex-direction: column;
}

.playlist>h5 {
    color: white;
}

.playlist a {
    color: var(--font-color);
}

.playlist a:hover {
    color: white;
}

.playlist i {
    font-size: 30px;
    vertical-align: sub;
}

.profile {
    margin-top: 50px;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    font-size: 13px;
}

.profile span,
.profile i {
    color: var(--font-color);
}

.profile-pic {
    width: 30px;
    display: flex;
}

.profile-pic>img {
    width: 100%;
    border-radius: 50%;
}

.install {
    padding: 5px;
    margin-left: 15px;
}

hr {
    width: 170px;
    margin-left: 19px;
}

.nav-footer {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 10px;
    margin-left: 5px;
}

.nav-footer>.name>span {
    color: white;
}

/* FOOTER */
#app-footer {
    display: flex;
}

#player-left {
    width: 400px;
    display: flex;
    align-items: center;
}

#player-left>.song-label {
    height: 80px;
}

#player-left>.song-label>img {
    width: 80px;
    padding: 15px;
}

#player-left>.song-title {
    color: white;
}

.author {
    color: var(--font-color);
    font-size: 10px;
}

#player-left>.favourite {
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    margin-left: 50px;
    row-gap: 10px;
}

#player-left>.favourite>i:hover {
    color: rgb(2, 224, 2);
}

#player-center {
    width: 600px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    margin-left: 40px;
}

.player-commands {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.play>i {
    font-size: 2rem;
}

.shuffle-back>i,
.forward-repeat>i {
    margin: 0 1rem;
}

.player-commands i:hover {
    color: rgb(2, 224, 2);
}

#player-center>.player-time {
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 10px;
}

#player-right {
    width: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1rem;
    margin-right: 1rem;
}

#player-right>.volume-bar {
    width: 100px;
    height: 2px;
    background-color: white;
    border-radius: 10px;
}

#player-right i:hover {
    color: rgb(2, 224, 2);
}

