/* COMMON */
:root {
    --font-color: #7D7F84;
    --main-page-color: #141922;
    --footer-color: #282828;
    --plus-button: #A3A3A3;
    --main-header: #080b12;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

footer {
    height: 80px;
    width: 100%;
    background-color: var(--footer-color);
    position: fixed;
}

a {
    text-decoration: none;
    color: white;
}

#app-main::after {
    content: "";
    display: table;
    clear: both;
}

#app-main {
    height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;
}

#app-main>#main-container {
    background-color: var(--main-page-color);
    width: calc(100% - 240px);
    float: right;
    overflow: scroll;
    height: calc(100% - 65px);
}

#app-main>.navigation {
    background-color: #000000;
    width: 240px;
    float: left;
    position: fixed;
    height: calc(100% - 80px);
    transition: all 1s;

}

#app-main>.home-active {
    position: absolute;
    left: 0px;
    top: 90px;
    width: 5px;
    height: 25px;
    z-index: 1;
    background-color: rgb(2, 224, 2);
}

/* UTILITY */
#albums-top-btn {
    background-color: var(--main-header);
    height: 65px;
}

.albums-page>h2 {
    color: white;
    margin-top: 3rem;
    margin-left: 0.5rem;
}

#main-container p {
    color: var(--font-color);
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    font-size: 12px;
}

#main-container h3 {
    color: white;
    margin-top: 0.5rem;
    font-size: 15px;
}

/* MAIN */
#albums-top-btn .call-to-action {
    padding: 12px;
    border: 1px solid white;
    width: 200px;
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    border-radius: 50px;
    font-size: 13px;
    text-align: center;
}

#albums-top-btn .call-to-action:hover {
    transform: scale(1.1);
}

.main-nav {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 1.5rem;
}

.main-nav a {
    color: var(--font-color);
}

.main-nav a:hover {
    color: white;
}

.selected {
    background-color: rgb(2, 224, 2);
    width: 30px;
    height: 2px;
    margin: auto;
}

.album-cover-container {
    display: flex;
    margin: 2rem 0.5rem 0 0.5rem;
    column-gap: 0.5rem;
}

.album-cover-container>.album-covers {
    width: 16%;
    text-align: center;
    margin-bottom: 0.75rem;
}

.album-image {
    position: relative;
}

.album-image>i {
    font-size: 50px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    color: white;
    display: none;
}

.album-image:hover i {
    display: block;
}

.album-image:hover img {
    filter: brightness(0.5);
    transform: scale(1.05);
}

.album-image>img {
    width: 100%;
}

.album-cover-container>.artist-covers {
    width: 15%;
    text-align: center;
    margin-bottom: 0.75rem;
}

.artist-covers>img {
    width: 100%;
    border-radius: 50%;
}

/* NAVIGATION */
.logo {
    position: relative;
}

.logo :first-child {
    width: 140px;
    height: auto;
    padding: 20px;
    margin-left: 12px;
}

.logo :last-child {
    width: 30px;
    height: auto;
    position: absolute;
    bottom: 24px;
    left: 16px;
    display: none;
}

.menu {
    padding: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.menu img {
    width: 25px;
}

.menu>a {
    display: flex;
    padding: 5px;
    font-size: 20px;
    color: var(--font-color);
    align-items: center;
    column-gap: 0.5rem;
}

.menu>a:hover {
    color: white;
}

.playlist {
    padding: 34px;
    margin-top: -39px;
    font-size: 15px;
    line-height: 35px;
    display: flex;
    flex-direction: column;
}

.playlist>h5 {
    color: white;
}

.playlist a {
    color: var(--font-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.playlist a:hover {
    color: white;
}

.playlist i {
    font-size: 30px;
    vertical-align: sub;
}

.profile {
    width: 90%;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    left: 5px;
    background-color: #000000;
}

.profile span,
.profile a {
    color: var(--font-color);
}

.profile:hover a {
    color: white;
}

.profile img {
    width: 15px;
    cursor: pointer;
}

.profile-pic {
    width: 25px;
    display: flex;
    background-color: gray;
    border-radius: 50%;
}

.profile-pic>img {
    width: 100%;
    border-radius: 50%;
}

.install {
    padding: 5px;
    margin-left: 15px;
    display: flex;
    column-gap: 0.5rem;
}

.hr {
    height: 1px;
    background-color: gray;
    width: 90%;
}

.nav-footer {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 10px;
    margin-left: 5px;
}

.nav-footer>.name>span {
    color: white;
}

/* FOOTER */
#app-footer {
    display: flex;
    justify-content: space-between;
}

#player-left {
    width: 400px;
    display: flex;
    align-items: center;
}

#player-left>.song-label {
    height: 80px;
}

#player-left>.song-label>img {
    width: 80px;
    padding: 15px;
}

#player-left>.song-title {
    color: white;
}

.author {
    color: var(--font-color);
    font-size: 10px;
}

#player-left>.favourite {
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    margin-left: 50px;
    row-gap: 10px;
    cursor: pointer;
}

#player-left>.favourite>i:hover {
    color: rgb(2, 224, 2);
}

#player-center {
    width: 600px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.player-commands {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.play>i {
    font-size: 2rem;
    cursor: pointer;
}

.shuffle-back>i,
.forward-repeat>i {
    margin: 0 1rem;
    cursor: pointer;
}

.player-commands i:hover {
    color: rgb(2, 224, 2);
}

#player-center>.time-commands {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

#player-center .player-time {
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--font-color);
    height: 3px;
    border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    width: 10px;
    border-radius: 10px;
    background-color: rgb(2, 224, 2);
}

.time-commands>.time-left,
.time-commands>.time-right {
    font-size: 12px;
}

#player-right {
    width: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1rem;
    margin-right: 1rem;
}

#player-right i {
    cursor: pointer;
}

#player-right>.volume-bar {
    width: 100px;
    height: 2px;
    background-color: var(--font-color);
    border-radius: 10px;
    -webkit-appearance: none;
}

.volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
}

#player-right i:hover {
    color: rgb(2, 224, 2);
}

/* MEDIA QUERY */

@media screen and (max-width: 890px) {
    
    .album-cover-container {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .album-cover-container>.album-covers {
        width: calc(100% / 4);
    }

    #app-main>.navigation {
        width: 180px;
    }

    #app-main>#main-container{
        width: calc(100% - 180px);
    }

    .playlist, .playlist span {
        font-size: 14px;
    }

    .playlist i {
        font-size: 25px;
    }

    .main-nav a {
        font-size: 14px;
    }

}

@media screen and (max-width: 747px) {

    .main-nav {
        flex-wrap: wrap;
    }

    #player-center {
        margin-right: 1.5rem;
    }

    #player-center>.player-time {
        width: 60%;
    }

    #player-right {
        display: none;
    }

}

@media screen and (max-width: 601px) {
    .album-cover-container>.album-covers {
        width: calc(100% / 3);
    }

    #app-main>.navigation {
        width: 60px;
    }

    #app-main>#main-container {
        width: calc(100% - 60px);
    }

    .menu>a :last-child{
        display: none;
    }

    .menu {
        margin-left: 5px;
    }

    .logo>img {
        margin-left: 0;
    }

    .install {
        margin: 10px;
    }

    .nav-footer {
        margin-left: -9px;
    }

    .profile-pic {
        margin-left: 10px;
    }

    .playlist, 
    .profile span,
    .profile a, 
    .profile .hr {
        display: none;
    }

    .logo {
        height: 70px;
    }

    .logo :first-child {
        display: none;
    }

    .logo :last-child {
        display: block;
    }
}

@media screen and (max-width: 570px) {
    
    #player-center {
        width: 400px;
    }
}

@media screen and (max-width: 533px) {

    .player-commands i {
        font-size: 15px;
    }
}

@media screen and (max-height: 400px) {
    #albums-top-btn {
        display: none;
    }

    #app-main>#main-container {
        height: 100%;
    }
}
